.social
  ul
    li.social-facebook
      a(
        href="https://www.facebook.com/" + site.facebook
        class="ss-icon"
        title="Follow " + site.title + " on Facebook"
        rel="me"
      ) Facebook
    li.social-twitter
      a(
        href="http://twitter.com/" + site.twitter
        class="ss-icon"
        title="Follow " + site.title + " on Twitter"
        rel="me"
      ) Twitter
    li.social-tumblr
      a(
        href="https://www.tumblr.com/blog/" + site.tumblr
        class="ss-icon"
        title="Follow " + site.title + " on Tumblr"
        rel="me") Tumblr
    li.social-instagram
      a(
        href="https://instagram.com/" + site.instagram
        class="ss-icon"
        title="Follow " + site.title + " on Instagram"
        rel="me"
      ) Instagram
    li.social-flickr
      a(
        href="https://www.flickr.com/photos/" + site.flickr
        class="ss-icon"
        title="Peruse " + site.title + " Flickr Stream"
        rel="me"
      ) Flickr
    li.social-email
      a(
        href="mailto:" + site.email
        class="ss-icon"
        title="Email " + site.title
        rel="me"
      ) Email
    li.social-rss
      a(
        href="rss"
        class="ss-icon"
        title= site.title + " RSS feed"
      ) RSS
