.social
  ul
    li.social-facebook
      a(
        href="https://www.facebook.com/" + facebook
        class="ss-icon"
        title="Follow " + title + " on Facebook"
        rel="me"
      ) Facebook
    li.social-twitter
      a(
        href="http://twitter.com/" + twitter
        class="ss-icon"
        title="Follow " + title + " on Twitter"
        rel="me"
      ) Twitter
    li.social-tumblr
      a(
        href="https://www.tumblr.com/blog/" + tumblr
        class="ss-icon"
        title="Follow " + title + " on Tumblr"
        rel="me") Tumblr
    li.social-instagram
      a(
        href="https://instagram.com/" + instagram
        class="ss-icon"
        title="Follow " + title + " on Instagram"
        rel="me"
      ) Instagram
    li.social-flickr
      a(
        href="https://www.flickr.com/photos/" + flickr
        class="ss-icon"
        title="Peruse " + title + " Flickr Stream"
        rel="me"
      ) Flickr
    li.social-email
      a(
        href="mailto:" + email
        class="ss-icon"
        title="Email " + title
        rel="me"
      ) Email
    li.social-rss
      a(
        href="rss"
        class="ss-icon"
        title= title + " RSS feed"
      ) RSS
